---
import Layout from '../layouts/Layout.astro';
import Libros from '../components/libros.astro';
import Buscar from '../components/buscar.astro';
---

<Layout>
	<div class="flex md:hidden">
		<Buscar/>		
	</div>

	<Libros/>
</Layout>
