<form action="" class="w-full flex items-center justify-center py-10">
    <div class="bg-[#18181a] text-white  border-[#aeaeae] rounded-[20px] px-6 py-2 w-[85%] flex items-center justify-between gap-3">
        <button>
            <img src="/micro.svg" class="h-6 w-6" alt="Search">
        </button>
        <input type="text" class="outline-none w-full text-[16px]" placeholder="Buscar...">
        <button class="">
            <img src="/search.svg" class="h-6 w-6" alt="Search">
        </button>
    </div>
</form>