<form action="" class="w-full flex items-center justify-center py-20">
    <div class="bg-[#18181a] text-white  border-[#aeaeae] rounded-[4rem] px-7 py-5 w-[85%] flex items-center justify-between gap-3">
        <button>
            <img src="/micro.svg" class="h-11 w-11" alt="Search">
        </button>
        <input type="text" class="outline-none w-full text-2xl" placeholder="Buscar...">
        <button class="">
            <img src="/search.svg" class="h-11 w-11" alt="Search">
        </button>
    </div>
</form>