<footer class="p-3.5 border-t-1 border-t-[#83838360] w-full h-20 absolute bottom-0 left-0 right-0 text-white flex flex-col justify-between items-center gap-3">
    <p class="text-[14px]">&copy; 2025 UTD Book · Todos los derechos reservados</p>
    <a href="https://github.com/LuisMedinaDev/UTDbook.git" target="_blank" class="text-[14px]">
        <img src="/github.svg" class="h-6 w-6" alt="github">
    </a>
</footer>