<p class="text-[14px]">&copy; 2025 UTD Book · Todos los derechos reservados</p>
<a href="https://github.com/LuisMedinaDev/UTDbook.git" target="_blank" class="text-[14px]">
    <img src="/github.svg" class="h-6 w-6" alt="github">
</a>