
<footer class="md:hidden not-last-of-type:p-10 border-t-1 border-t-[#83838360] text-white flex flex-col justify-between items-center gap-3">
    <p class="text-[14px]">&copy; 2025 UTD Book · Todos los derechos reservados</p>
    <a href="https://github.com/LuisMedinaDev/UTDbook.git" target="_blank" class="text-[1rem]">
        <img src="/github.svg" class="h-11 w-11" alt="github">
    </a>
</footer>