<section class="flex flex-col gap-6 w-full">
    <article class="w-full flex flex-col gap-3 ">
        <div class="flex justify-between items-center text-[#cdcdcd] text-[18px] w-full ">
            <h2 class="font-semibold text-[16px]">Ultimos libros</h2>

            <button class="rounded-2xl text-[16px] font-semibold">Ver mas</button>
        </div>
        <div class="flex gap-2.5 overflow-auto scrollbar-hidden">
            <img src="/libro1.jpg" alt="libro1" class="h-[120px] rounded-[10px]">
            <img src="/libro2.webp" alt="libro1" class="h-[120px] rounded-[10px]">
            <img src="/libro3.webp" alt="libro1" class="h-[120px] rounded-[10px]">
            <img src="/libro4.webp" alt="libro1" class="h-[120px] rounded-[10px]">
        </div>
    </article>
    
    <article class="w-full flex flex-col gap-3 ">
        <div class="flex justify-between items-center text-[#cdcdcd] text-[18px] w-full ">
            <h2 class="font-semibold text-[16px]">Mas leídos</h2>

            <button class="rounded-2xl text-[16px] font-semibold">Ver mas</button>
        </div>
        <div class="flex gap-2.5 overflow-auto scrollbar-hidden">
            <img src="/libro5.jpg" alt="libro1" class="h-[120px] rounded-[10px]">
            <img src="/libro6.webp" alt="libro1" class="h-[120px] rounded-[10px]">
            <img src="/libro7.webp" alt="libro1" class="h-[120px] rounded-[10px]">
            <img src="/libro8.jpg" alt="libro1" class="h-[120px] rounded-[10px]">
        </div>
    </article>

    <article class="w-full flex flex-col gap-3 ">
        <div class="flex justify-between items-center text-[#cdcdcd] text-[18px] w-full ">
            <h2 class="font-semibold text-[16px]">Más populares</h2>

            <button class="rounded-2xl text-[16px] font-semibold">Ver mas</button>
        </div>
        <div class="flex gap-2.5 overflow-auto scrollbar-hidden">
            <img src="/libro9.jpeg" alt="libro1" class="h-[120px] rounded-[10px]">
            <img src="/libro10.webp" alt="libro1" class="h-[120px] rounded-[10px]">
            <img src="/libro11.jpg" alt="libro1" class="h-[120px] rounded-[10px]">
            <img src="/libro12.jpg" alt="libro1" class="h-[120px] rounded-[10px]">
        </div>
    </article>

    
</section>

<style>
    .scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */

  /* WebKit (Chrome, Safari) */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
</style>