---
import "../styles/global.css";
---
<nav class="bg-[#0c0c0e] p-3.5 border-b-1 border-[#83838360] fixed top-0 left-0 right-0 z-50">
	<ul class="flex justify-between">
		<li>
			<img src="/headerlogo.png" alt="logo" width="120">
		</li>
		<li class="flex border-1 border-[#9898985c] rounded-[10px] px-1.5  items-center justify-center gap-2.5">
			<img src="/LogoHamburguesa.svg" class="h-6 w-6" alt="LogoHamburguesa">
			<img src="/InfoUser.svg" class="h-6 w-6" alt="infoUser">
		</li>
	</ul>
</nav>
