---
import "../styles/global.css";
---
<nav class="bg-black p-4">
	<ul class="flex justify-between">
		<li>
			<img src="/HeaderLogo.webp" alt="logo" width="120">
		</li>
		<li class="flex border-2 border-[#aeaeae] rounded-[10px] px-2.5 items-center justify-center gap-2.5">
			<img src="/LogoHamburguesa.svg" class="h-7 w-7" alt="LogoHamburguesa">
			<img src="/InfoUser.svg" class="h-7 w-7" alt="infoUser">
		</li>
	</ul>
</nav>
