---
import '../styles/global.css';
import Navbar from '../components/navbar.astro';
import Footer from '../components/footer.astro';
import Aside from '../components/aside.astro';
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>UTDbook</title>
	</head>
	<body class="bg-[#0c0c0e] flex">
		
		<Aside/>
		<div>
		<Navbar/>
		<main class="px-9 pb-[6.25rem] md:pb-0 mt-[7.125rem] h-auto min-h-[90Vh] md:w-[95rem]">
			
			<slot/>
		</main>
		<Footer/>
		</div>
	</body>
</html>


<style>
	@media (width >= 768px) {
html {
    font-size: clamp(6px, .8vw, 15.6px);
}
}

@media (width <= 767px) {
html {
    font-size: clamp(6px, 2.2vw, 16px);
}
}
</style>

