<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>UTDbook</title>
	</head>
	<body>
		<slot name="navbar" />
		<main class="bg-[#0c0c0e] min-h-screen mt-[66px]">
			<slot name="buscar" />
		</main>
	</body>
</html>

