<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>UTDbook</title>
	</head>
	<body class="bg-[#0c0c0e]">
		<header>
			<slot name="navbar" />
		</header>
		<main class="px-9 pb-[6.25rem] mt-[7.125rem] h-auto min-h-[90Vh]">
			<slot name="buscar" />
			<slot name="libros" />
		</main>
		<footer class="p-10 border-t-1 border-t-[#83838360] text-white flex flex-col justify-between items-center gap-3">
			<slot name="footer" />
		</footer>
		
	</body>
</html>
<style>
	@media (width >= 768px) {
html {
    font-size: clamp(6px, .8vw, 15.6px);
}
}

@media (width <= 767px) {
html {
    font-size: clamp(6px, 2.2vw, 16px);
}
}
</style>

