<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>UTDbook</title>
	</head>
	<body class="bg-[#0c0c0e]">
		<header>
			<slot name="navbar" />
		</header>
		<main class="px-6 pb-[100px] mt-[66px] h-auto min-h-[90Vh]">
			<slot name="buscar" />
			<slot name="libros" />
		</main>
		<slot name="footer" />
	</body>
</html>

