---
const { title } = Astro.props;
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{ title }</title>
	</head>
	<body class="bg-[#0c0c0e] overflow-hidden" >
		<main class="flex h-screen">
			<section class="flex flex-col justify-center items-center flex-1 bg-cover bg-no-repeat bg-center bg-[url('/hero.svg')] gap-3">
				<slot />
			</section>
		</main>
	</body>
</html>

<style>
	.hola {
		filter: drop-shadow(0px 0px 10px #00000049);
	}
</style>